[core]
	excludesfile = ~/.gitignore
[user]
	name = Jason Bellegarde
	email = jbellegarde@blues.com
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
